# home.toml.zh.example
# 胖喵必快 (pmbs) 示例配置文件

pmbs = 1  # 配置文件格式版本

subvol = "/home"  # 目标 btrfs subvol 路径 (对这个 subvol 进行快照)

# 快照保留规则 (用于自动清理)
[[keep]]
time = "1m"  # 间隔 1 分钟 (60 秒)
n = 30  # 保留 30 个 (共 30 分钟)

[[keep]]
time = "5m"  # 间隔 5 分钟 (300 秒)
n = 12  # 保留 12 个 (共 1 小时)

[[keep]]
time = "20m"  # 间隔 20 分钟 (1200 秒)
n = 9  # 保留 9 个 (共 3 小时)

[[keep]]
time = "1h"  # 间隔 1 小时 (3600 秒)
n = 24  # 保留 24 个 (共 1 天)

[[keep]]
time = "2h"  # 间隔 2 小时 (7200 秒)
n = 12  # 保留 12 个 (共 1 天)

[[keep]]
time = "1d"  # 间隔 1 天 (86400 秒)
n = 7  # 保留 7 个 (共 7 天)
