# home.toml.zh.example
# 胖喵必快 (pmbs) 示例配置文件

pmbs = 1  # 配置文件格式版本

subvol = "/home"  # 目标 btrfs subvol 路径 (对这个 subvol 进行快照)

# 快照保留规则 (用于自动清理)
[[keep]]
time = "1m"  # 间隔 1 分钟 (60 秒)
n = 120  # 保留 120 个 (共 2 小时)

[[keep]]
time = "5m"  # 间隔 5 分钟 (300 秒)
n = 48  # 保留 48 个 (共 4 小时)

[[keep]]
time = "20m"  # 间隔 20 分钟 (1200 秒)
n = 48  # 保留 48 个 (共 16 小时)

[[keep]]
time = "1h"  # 间隔 1 小时 (3600 秒)
n = 48  # 保留 48 个 (共 2 天)

[[keep]]
time = "1d"  # 间隔 1 天 (86400 秒)
n = 7  # 保留 7 个 (共 7 天)
