.ssh
.cache

.cargo
.rustup
.deno
.npm
.pnpm-store
.android
.gradle
.venv

node_modules
target
build

cache
Cache
CacheStorage
WebStorage
Android

.local/share/containers/storage
.local/share/flatpak/.removed
.local/share/flatpak/appstream
.local/share/flatpak/repo
.local/share/pnpm
.local/share/uv
